<div class="react-component-target" data-componentname="Hello" data-componentprops=<%= @props_for_hello_component.to_json %>></div>
<div class="react-component-target" data-componentname="HelloWithRedux" data-componentprops=<%= @props_for_hello_with_redux_component.to_json %>></div>
